apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 3
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: us-central1-docker.pkg.dev/YOUR-PROJECT-ID/gcp-scheduler/scheduler:v1
          command: ["/app/worker"]
          env:
            - name: SCHEDULER_URL
              value: "http://scheduler"
            - name: WORKER_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
